body {
  margin: 0;
  padding: 0;
}

.btn-back:hover {
  background-color: #5568b9a9;
  color: white; 
}

.btn-back {  
  background-color: #76b4fc7e;
  color: rgb(0, 0, 0);
  padding:1px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  margin: 3px auto;
  display: block;
  width: fit-content;
}
.container_page_1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/*Columnas*/
.column {
  flex: 3;
  transition: flex 0.5s ease;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: brightness(0.6);
  /* Se bloquea el tamaño máximo de las columnas */
  max-width: 300px;
  padding: 1rem;
}

/* cuando pasas el mouse, se expande y se aclara */
.column:hover {
  flex: 15;
  filter: brightness(1);
}

/* imagenes */
.bg1 {
  background-image: url('https://media.giphy.com/media/3o6ZtaO9BZHcOjmErm/giphy.gif');
}

.bg2 { background-image: url('https://www.docteur-fitness.com/wp-content/uploads/2022/08/muscle-up-calisthenics-street-workout-dos.gif');
 }

.bg3 {
  background-image: url('https://38.media.tumblr.com/19a49fa58f085910145e86735ac74d9c/tumblr_njvzqxdkWf1u9m0bco1_500.gif');
}

.bg4 {
  background-image: url('https://www.healsi.eu/imgs/healsi_water/083648_1_7132_silica_01.jpg');
}

.bg5 {
  background-image: url('https://www.losmvmt.com/content/images/size/w960/2022/10/IMG_3554.jpg');
}

/*Texto encima de las imagenes*/
.btn-hero {
    display: inline-block;
    background: linear-gradient(135deg, #5e3df6, #a65dfb);
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(166, 93, 251, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(166, 93, 251, 0.8);
}
